<footer class="site-footer">
  <div class="site-footer-links">
    <a href="https://discord.gg/9BTuV4uYTc" target="_blank" rel="noopener noreferrer">Legacy Discord</a>
    <span>|</span>
    <a href="https://www.legacy-roleplay.com/" target="_blank" rel="noopener noreferrer">LegacyRP Website</a>
  </div>
  <p>All information contained within this website is the property of the San Andreas Department of Corrections (Unless specified otherwise). No other person shall be eligible or authorized to alter, change, copy or release this content to any person or entity for any reason without the written consent of the Warden</p>
</footer>
